@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
*{
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}
/* navbar */
.navbar{
  background-color: rgba(0, 0, 0, 0.514);
}

.navbar .nav-item:not(:last-child) {
    margin-right: 35px;
  }
  
  .dropdown-toggle::after {
     transition: transform 0.15s linear; 
  }
  
  .show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
  }
  
  .dropdown-menu {
    margin-top: 0;
  }

.haz a ::before{
  content: '';
  transform: skewX(328deg);
  -webkit-transform: skewX(-33deg);
  background: #fdbd00;
  position: absolute;
  right: 944px;
  top: -30px;
  bottom: 0px;
  left: -1000%;
  z-index: -2;
  transition: 400ms all;
  -webkit-transition: 400ms all;
}
 .haz a span {
  padding-left: 17px;
  display: inline-block;
  color: #343025;
  font-size: 21px;
  text-transform: uppercase;
  text-decoration: none;
 }

 .haz img{
  margin-top: -19px;
  vertical-align: top;
  display: inline-block;
  transform: rotate(0);
 }




/* banner */

.ban{
  border-radius: 10px;
}

  /* footer */

.ftr a {
  text-decoration: none;
  color: white;
}
.ftr em{
  color: #FFC722;
}



/* about */

.h1{
  color: #FFC722;
  text-align: center;
}
.cen {
  margin: 0px 0px 0px -144px;
}
hr{
color: #FFC722;
}
h2{
  text-align: center;
  background-color: grey;
}
.History{
  color: #FFC722;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.imag{
  position: relative;
  width: 300px;
}
.images---img{
  display: block;
  width: 100%;
  height: 366px;
}
.image---overay > *{
  transform: translateY(20px);
  transition: transform 0.25s;
}
.image---overay:hover > *{
  transform: translateY(0);
}
.image---overay--blur{
  backdrop-filter: blur(5px);
}
.image---overay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffff;
  font-family: 'Oswald', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}
.image---overay:hover{
  opacity: 1;
}
.image---title{
  font-size: 2em;
  font-weight: bold;
}
.image--description{
  font-size: 1.25em;
  margin-top: 0.25em;
  text-align: center;
}
hr.hr1{
  border: 0.5px solid #FFC722;
  width: 100%;
}

hr.hr2{
  border: 0.5px solid #FFC722;
  width: 100%;
}


/* feedback */

.sub{
  margin-left: 795px;
  margin-bottom: 10px;
}

.tbl th{
color: #FFC722;
}